.leaf {
  position: absolute;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.leaf li {
  position: absolute;
  top: -50px;

  list-style: none;

  border-radius: 0 70%;
  background: #ff7e47;
}


@keyframes fall {
  to {
    top: 120%;
    opacity: 0;
  }
}

@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(-45deg);
  }
}

@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.leaf li:nth-child(1) {
  top: -60px;
  left: 0;

  width: 24px;
  height: 15px;

  animation: fall 10s linear infinite,
  sway1 3s ease-in-out infinite alternate;
  animation-delay: 2s;

  background-color: #ffbf00;
}

.leaf li:nth-child(2) {
  top: -70px;
  left: 5%;

  width: 13px;
  height: 9px;

  animation: fall 15s linear infinite,
  sway1 2s ease-in-out infinite alternate;
  animation-delay: 8s;

  background-color: #009926;
}

.leaf li:nth-child(3) {
  top: -50px;
  left: 15%;

  width: 16px;
  height: 10px;

  animation: fall 9s linear infinite,
  sway1 3.5s ease-in-out infinite alternate;
  animation-delay: 13s;

  background-color: #c2704e;
}

.leaf li:nth-child(4) {
  top: -70px;
  left: 30%;

  width: 16px;
  height: 10px;

  animation: fall 8s linear infinite,
  sway2 4s ease-in-out infinite alternate;
  animation-delay: 7s;

  background-color: #ffbb00;
}
.leaf li:nth-child(5) {
  top: -60px;
  left: 40%;

  width: 16px;
  height: 10px;

  animation: fall 10s linear infinite,
  sway1 4s ease-in-out infinite alternate;
  animation-delay: 8s;
}
.leaf li:nth-child(6) {
  top: -50px;
  left: 55%;

  width: 24px;
  height: 15px;

  animation: fall 11s linear infinite,
  sway2 3s ease-in-out infinite alternate;
  animation-delay: 3s;

  background-color: #993b00;
}
.leaf li:nth-child(7) {
  top: -40px;
  left: 65%;

  width: 16px;
  height: 10px;

  animation: fall 7s linear infinite,
  sway2 3.5s ease-in-out infinite alternate;
  animation-delay: 7s;
}
.leaf li:nth-child(8) {
  top: -60px;
  left: 50%;

  width: 13px;
  height: 9px;

  animation: fall 7s linear infinite,
  sway1 3s ease-in-out infinite alternate;
  animation-delay: 3s;

  background-color: #c2704e;
}
.leaf li:nth-child(9) {
  top: -70px;
  left: 80%;

  width: 16px;
  height: 10px;

  animation: fall 10s linear infinite,
  sway2 4s ease-in-out infinite alternate;
  animation-delay: 4s;
}